/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #4b4b4b;
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  border-bottom: 1px solid #2c2c2c;
  border-radius: 4px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}
